BoilerStoreMonolith/BoilerStoreMonolith.Domain/obj/Debug/BoilerStoreMonolith.Domain.csproj.CoreCompileInputs.cache
BoilerStoreMonolith/BoilerStoreMonolith.Domain/obj/
BoilerStoreMonolith/BoilerStoreMonolith/bin/
BoilerStoreMonolith/BoilerStoreMonolith/obj/
BoilerStoreMonolith/.vs/
