@model BoilerStoreMonolith.Domain.Entities.InfoEntity
@{
    ViewBag.Title = "AboutCompany";
}

<br />
<br />
<br />
<div class="container h5">
    <pre style="font-family: serif;">@Model.CompanyInfo</pre>
</div>