@model BoilerStoreMonolith.Models.CatalogueViewModel
@{
                /**/

                ViewBag.Title = "Catalogue";

}



<h4 id="full_list">Каталог продукции</h4>
@Html.Partial("BoilerList", Model)