@model BoilerStoreMonolith.Models.CatalogueModelView
@{
    ViewBag.Title = "Catalogue";

}



<div class="d-flex justify-content-center align-items-center flex-column">

    <h2>Каталог котельного оборудования</h2>
    <br />
    <br />
    <br />
    <h4>Категории</h4>
    @Html.Partial("CategoryList", Model.Categories)
    <br />
    <br />
    <br />
    <h4>Производители</h4>
    @Html.Partial("FirmList", Model.Firms)
    <br />
    <br />
    <br />
    <h4 id="full_list">Полный список</h4>
    <br />
    @Html.Partial("BoilerList", Model.ProductList)


</div>

