@model BoilerStoreMonolith.Models.CatalogueViewModel
@{
    ViewBag.Title = "Catalogue";

}


<div class="d-flex justify-content-center align-items-center flex-column">

    <h4 id="full_list">Каталог</h4>
    @Html.Partial("BoilerList", Model.ProductList)


</div>

