@model BoilerStoreMonolith.Models.IndexViewModel
@{
    ViewBag.Title = "Index";
}


<div class="d-flex justify-content-center align-items-center flex-column">
    @*<img class="w-50 mt-3" src="@Url.Action("GetImage2", "Admin",
                        new { infoId = Model.infoEntity.InfoID, imgElementName = "homeImg" })" />*@

    @*<pre class="h5 font-weight-light">@Model.infoEntity.CompanyInfo</pre>*@

    <div class="site-section">
        @Html.Partial("ServicesCards")
    </div>

    @Html.Partial("CategoryList", Model.categories)
</div>

