@model BoilerStoreMonolith.Models.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="w-50 mt-3" src="~/Content/images/warmly.png" />
    <p class="p-5">
        @Model.infoEntity.CompanyInfo
    </p>

    @Html.Partial("CategoryList", Model.categories)
</div>

