@model BoilerStoreMonolith.Models.IndexViewModel
@{
    ViewBag.Title = "Index";
}


<div class="d-flex justify-content-center align-items-center flex-column">
    <img class="w-50 mt-3" src="@Url.Action("GetImage2", "Admin",
                        new { infoId = Model.infoEntity.InfoID, imgElementName = "homeImg" })" />

    <br />
    <br />
    <pre class="h5 font-weight-light">@Model.infoEntity.CompanyInfo</pre>
    <br />
    <br />
    @Html.Partial("CategoryList", Model.categories)
</div>

