
@{
    ViewBag.Title = "WriteUsFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ошибка. Проверьте пожалуйста введённые данные.</h2>

<div class="container">
    <br />
    <br />
    <h4>Ошибка. Проверьте пожалуйста введённые данные.</h4>
    <br />
    <br />
</div>

<script>
    $("#exampleModal").addClass("show");
</script>

