html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p, pre {
    font-family: serif;
    font-size: 1rem !important;
}

pre {
    white-space: pre-wrap;
}

.main {
    min-width: 65vw !important;
}

.central {
    min-height: 80vh;
}


#messageText {
    max-width: 100%;
}


.icon-down::after {
    content: "↓";
    margin-left: 3px;
}

.icon-up::after {
    content: "↑";
    margin-left: 3px;
}

.logo {
    width: 50px;
    margin-right: 1rem;
}

/* HEADER */
.top-header {
    color: white;
    background: rgb(37, 84, 172);
}

    .top-header a {
        color: white;
    }

.nav-link {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-variant: small-caps;
}

a.nav-link {
    border-bottom: solid 2px transparent;
}

    a.nav-link:hover {
        border-bottom: solid 2px #366aca;
    }

.card.info-card {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.info-card .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #ccc;
}

    .info-card .card-image i {
        font-size: 4rem;
        color: #2554ac;
    }

.info-card .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    margin-bottom: 15px;
    height: 240px;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .services-cards .card {
        margin-bottom: 3rem;
    }

.site-section {
    margin: 3rem 0;
}

.flex-space-around {
    justify-content: space-around;
}

.productTable {
    width: 90%;
}

@media screen and (max-width: 1205px) {
    .rangeBlock {
        display: none !important;
    }
}

@media screen and (max-width: 400px) and (orientation: portrait) {
    .info-card .card-body {
        text-align: left;
        padding-left: 0;
    }

    .info-card .card-image {
        border-bottom: none;
        padding: 1rem;
    }

    .card.info-card {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 1.5rem 0;
        flex-direction: row;
    }

    .category-list {
        justify-content: center;
    }
}

.boiler_card {
    width: 180px;
    height: 310px;
    text-align: center;
    border: solid 1px #eee;
    margin: 1rem 0.1rem;
    background: #eee;
}

.boiler_image {
    height: 150px;
    width: 100%;
}

.boiler_title {
    text-align: center;
    padding: 0.3rem 0;
    display: block;
    font-size: 15px;
}

.boiler-price {
    font-size: small;
}

.filter_icon {
    font-size: 18px;
}

.rangeBlock {
    display:block;
}

.rangeLabel {
    font-size: 13px;
    height: 28px;
    position: absolute;
    line-height: 28px;
    padding: 0 0 0 9px;
    z-index: 100;
    left: 0;
    top: 0;
    display: block;
}

.rangeInput {
    width: 92px;
    padding-left: 29px;
}

#full_list {
    text-align: center;
}

.card-img-top {

    height: 170px !important;
}

.productList {
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
}

.otherLists {
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
}

.smallBtn{
    font-size:small;
}