@model BoilerStoreMonolith.Domain.Entities.Product

@{
    var imgSource = Url.Action("GetImage", "Home", new { productId = Model.ProductID });
}

<div class="boiler_card">
    @*<div class="boiler-price pb-2 mx-auto">@Model.Price</div>
    <div class="pb-2 mx-auto">Мощность: @Model.Power</div>*@
    <img class="boiler_image" src=@imgSource>
    @Html.ActionLink((string)Model.Title + " " + (string)Model.Firm + " " + (string)Model.Category,
  "ProductPage", "Home", new { productId = Model.ProductID }, new { @class = "boiler_title" })
</div>



