
@{
    List<string> categories = new List<string>
{
"котлы настенные",
"котлы наполные(чугунный теплообменник)",
"котлы наполные (стальной теплообменник)",
"котлы парапетные",
"котлы электрические"
};

    List<string> labels = new List<string>
{
"WIESSMANN",
"VAILLANT",
"BAXI",
"ARISTON",
"PROTHERM",
"NAVIEN",
};

}

<div class="bg-light p-2 d-none d-lg-block">
    <h4 class="mb-3">Котельное оборудование</h4>
    <hr class="my-2" />
    <div class="catalogue">
        <ul>
            @foreach (var category in categories)
            {
                <li>
                    <div class="category">@category</div>
                    <ul class="labels">
                        @foreach (var label in labels)
                        {
                            <li>
                                <div>@label</div>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>

<script>

    $(".category").click(function (e) {
        e.stopPropagation();
        $(e.target).siblings(".labels").toggle();
    });

</script>