@{
    Layout = null;
}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 table-responsive">
            <table class="table table-hover table-sortable" id="tab_logic">
                <div class="text-center h5 mt-3 mb-3">Введите общие характеристики товара</div>
                <tbody></tbody>
            </table>
            <a id="add_row" class="btn btn-light ml-4">Добавить ряд</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#add_row").on("click", function() {

            let newRow = $(
                "<tr>" +
                "<td data-name='name'>" +
                "<input type='text' name='name0'  placeholder='Введите название характеристики' class='form-control' required/>" +
                "</td>" +
                "<td data-name='mail'>" +
                "<input type='text' name='mail0' placeholder='Введите значение' class='form-control' required/>" +
                "</td>" +
                "<td data-name='del' class='td-row-remove'>" +
                "<button name='del0' class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden='true'>×</span></button>" +
                "</td>" +
                "</tr>") ;

            $(newRow).appendTo($('#tab_logic'));

            $(newRow).find("td button.row-remove").on("click", function() {
                $(this).closest("tr").remove();
            });
        });

        // Sortable Code
        var fixHelperModified = function(e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();

            $helper.children().each(function(index) {
                $(this).width($originals.eq(index).width())
            });

            return $helper;
        };

        $(".table-sortable tbody").sortable({
            helper: fixHelperModified
        }).disableSelection();

        $(".table-sortable thead").disableSelection();
    });
</script>

<style>
    .table-sortable tbody tr {
        cursor: move;
    }

    .td-row-remove {
        text-align: center;
    }
</style>