
@model BoilerStoreMonolith.Models.AdminIndexListViewModel
@{

}

<ul class="nav">

    <li class="nav-item nav-item d-flex align-items-center pb-1 font-weight-bold mx-4">
        <div>Отсортировать:</div>
    </li>


    <li class="nav-item">
        <div class="dropdown">
            <a class="dropdown-toggle filter_icon px-2 nav-link text-dark text-capitalize" href="#" role="button"
               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{
                    var categoryLabel = "Категория";
                    if (ViewBag.Category != null)
                    {
                        categoryLabel = ViewBag.Category;
                    }
                }
                @categoryLabel
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @if (ViewBag.Firm != null)
                {
                    <a class="dropdown-item" href="/Admin?firm=@ViewBag.Firm">Все</a>
                }
                else
                {
                    <a class="dropdown-item" href="/Admin">Все</a>
                }
                <div class="dropdown-divider"></div>
                @foreach (var cat in Model.Categories)
                {
                    @Html.ActionLink((string)cat, "Index", "Admin",
                         new
                         {
                             category = cat,
                             firm = ViewBag.Firm
                         },
                         new { @class = "dropdown-item" })
                }
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <a class="dropdown-toggle filter_icon px-2 nav-link text-dark text-capitalize" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @{
                    var firmLabel = "Производитель";
                    if (ViewBag.Firm != null)
                    {
                        firmLabel = ViewBag.Firm;
                    }
                }
                @firmLabel
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @if (ViewBag.Category != null)
                {
                    <a class="dropdown-item" href="/Admin?category=@ViewBag.Category">Все</a>
                }
                else
                {
                    <a class="dropdown-item" href="/Admin">Все</a>
                }
                <div class="dropdown-divider"></div>
                @foreach (var firm in Model.Firms)
                {
                    @Html.ActionLink((string)firm, "Index", "Admin",
                         new
                         {
                             category = ViewBag.Category,
                             firm = firm
                         },
                         new { @class = "dropdown-item" })
                }
            </div>
        </div>
    </li>

    <li class="nav-item nav-item d-flex align-items-center pb-1 mx-4">
        Количество единиц товара :  @ViewBag.ProductsCount
    </li>

</ul>


