@{
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();

    // defining filter link appearance
    var powerLinkClass = "filter_icon nav-link text-dark font-weight-bold";
    var priceLinkClass = "filter_icon nav-link text-dark font-weight-bold";
    if(ViewBag.LinkName == "Power")
    {
        if (ViewBag.filter == "down")
        {
            powerLinkClass = "icon-down filter_icon nav-link text-dark font-weight-bold";
        }
        else if (ViewBag.filter == "up")
        {
            powerLinkClass = "icon-up filter_icon nav-link text-dark font-weight-bold";
        }
    }
    else if (ViewBag.LinkName == "Price")
    {
        if (ViewBag.filter == "down")
        {
            priceLinkClass = "icon-down filter_icon nav-link text-dark font-weight-bold";
        }
        else if (ViewBag.filter == "up")
        {
            priceLinkClass = "icon-up filter_icon nav-link text-dark font-weight-bold";
        }
    }

}

<ul class="nav">

    <li class="nav-item nav-item d-flex align-items-center">
        <div>Сортировать по:</div>
    </li>

    <li class="nav-item">
        @Html.ActionLink("Мощности", actionName, "Home",
                                     new
                                     {
                                         category = ViewBag.Category,
                                         firm = ViewBag.Firm,
                                         filter = ViewBag.filter == "default" ||
                                                        ViewBag.filter == "up" ?
                                                        "down" : "up",
                                         linkName = "Power"



                                     },
                                     new { @class = powerLinkClass })
    </li>
    <li class="nav-item">
        @*<a class="nav-link" href="#">Цене</a>*@
        @Html.ActionLink("Цене", actionName, "Home",
                             new
                             {
                                 category = ViewBag.Category,
                                 firm = ViewBag.Firm,
                                 filter = ViewBag.filter == "default" ||
                                                ViewBag.filter == "up" ?
                                                "down" : "up",
                                 linkName = "Price"


                             },
                             new { @class = priceLinkClass })
    </li>
    @if (actionName == "Catalogue")
    {
        <li class="nav-item">
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    категория
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Настенный</a>
                    <a class="dropdown-item" href="#">Напольный</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    производитель
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">WIESSMANN</a>
                    <a class="dropdown-item" href="#">Protherm</a>
                </div>
            </div>
        </li>
    }



</ul>

