@model IEnumerable<string>
    @{
        ViewBag.Title = "FirmList";
        List<string> firms = Model.ToList();

        string actionName = this.ViewContext.RouteData.Values["action"].ToString();
        if (ViewBag.IsAjax == null || ViewBag.IsAjax == false)
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = null;
        }
    }

    <br />
    <br />
    <br />
    <div class="container">

        <h4 class="text-center">Производители</h4>
        <br />
        <br />

        @for (int i = 0; i < firms.Count;)
        {
            <div class="row py-3">
                @for (int j = 0; j < 2; j++)
                {
                    if (i >= firms.Count) { break; }
                    <div class="col-6 text-center">
                        @Html.ActionLink(@firms[i], "BoilerList", "Home",
                                    new { firm = @firms[i], VBCategory = ViewBag.Category },
                                    new { @class = "h4 text-info font-weight-bold" })
                    </div>
                    i++;
                }
            </div>
            <br />

        }
    </div>
