@model BoilerStoreMonolith.Domain.Entities.InfoEntity




<nav class="top-header navbar navbar-expand-lg py-4">
    <div class="container">
        <img class="logo" src="@Url.Action("GetImage", "Admin",
                    new { infoId = Model.InfoID, imgElementName = "logoImg" })" />
        <div class="site-title">Оборудование в Воронеже</div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                <li class="nav-item mx-3 pt-3">
                    <i class="fas fa-phone"></i>
                    @Model.PhoneMain
                </li>
                <li class="nav-item mx-3 my-2 d-flex">
                    <i class="fas fa-envelope mr-3" style="font-size:36px"></i>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                        Напишите нам
                    </button>
                </li>
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content text-dark">
                    <div class="modal-header align-self-center">
                        <h5 class="modal-title" id="exampleModalLabel">Оставить заявку на товар или услуги</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" placeholder="Имя">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputSurname" class="col-sm-2 col-form-label">Фамилия</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSurname" placeholder="Фамилия">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="messageText">Сообщение</label>
                                <textarea class="form-control" id="messageText" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <p class="text-center">Обратная связь</p>
                                <div class="col-sm-10 m-auto">
                                    <input type="text" class="form-control m-auto text-center" id="inputEmail" placeholder="Email">
                                </div>
                                <p class="text-center mb-0">или</p>
                                <div class="col-sm-10 m-auto">
                                    <input type="text" class="form-control m-auto text-center" id="inputPhone" placeholder="Телефон">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    //$('#myModal').on('shown.bs.modal', function () {
    //    $('#myInput').trigger('focus')
    //})
</script>