@model BoilerStoreMonolith.Domain.Entities.InfoEntity




<nav class="top-header navbar navbar-expand-lg py-4">
    <div class="container">
        <img class="logo" src="@Url.Action("GetImage", "Admin",
                    new { infoId = Model.InfoID, imgElementName = "logoImg" })" />

        @Html.ActionLink("Оборудование в Воронеже", "Index", "Home",
                        null, new { @class = "site-title h5" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                <li class="nav-item mx-3 pt-3">
                    <i class="fas fa-phone"></i>
                    @Model.PhoneMain
                </li>
                <li class="nav-item mx-3 my-2 d-flex">
                    <i class="fas fa-envelope mr-3" style="font-size:36px"></i>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                        Напишите нам
                    </button>
                </li>
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content text-dark">
                    <div class="modal-header align-self-center">
                        <h5 class="modal-title" id="exampleModalLabel">Оставить заявку на товар или услуги</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("WriteUs", "Home", FormMethod.Post,
                        new
                        {
                            @class = "form-horizontal",
                            id = "writeUs",
                            role = "form",
                            enctype = "multipart/form-data"
                        }))
                    {
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text" name="Name" class="form-control"
                                           id="inputName" placeholder="Имя" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputSurname" class="col-sm-2 col-form-label">Фамилия</label>
                                <div class="col-sm-10">
                                    <input type="text" name="LastName" class="form-control"
                                           id="inputSurname" placeholder="Фамилия (необязательно)">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="messageText">Сообщение</label>
                                <textarea class="form-control" name="Message"
                                          id="messageText" rows="3" placeholder="Ваше сообщение" required></textarea>
                            </div>
                            <div class="form-group">
                                <p class="text-center">Обратная связь</p>
                                <div class="col-sm-10 m-auto">
                                    <input type="email" name="Email" class="form-control m-auto text-center"
                                           id="inputEmail" placeholder="Email" required>
                                </div>
                                <p class="text-center mb-0">или</p>
                                <div class="col-sm-10 m-auto">
                                    <input type="tel" name="Phone" class="form-control m-auto text-center"
                                           id="inputPhone" placeholder="Телефон (необязательно)">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <input type="submit" value="Отправить" class="btn btn-info" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</nav>

