<div class="top-navigation-container">
        <div class="mt-4 mb-5 text-center section-title">
            <h2>Почему выбирают нас</h2>
        </div>
            <div class="services-cards">
                <div class="info-card card shadow">
                    <div class="card-image">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Бесплатный выезд инженера на объект
                        </p>
                    </div>
                </div>

                <div class="info-card card shadow">
                    <div class="card-image">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Бесплатный гидравлический и теплотехнический расчет
                        </p>
                    </div>
                </div>

                <div class="info-card card shadow">
                    <div class="card-image">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Расчет стоимости материалов и работ
                        </p>
                    </div>
                </div>

                <div class="info-card card shadow">
                    <div class="card-image">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Доставка материалов на объект
                        </p>
                    </div>
                </div>

                <div class="info-card card shadow">
                    <div class="card-image">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Профессиональный монтаж
                        </p>
                    </div>
                </div>
            </div>
</div>
