@{
    var uploadFileInfoId = "fakePathLoad_" + ViewBag.ImageToLoad;
    var uploadFileInfoSelector = "\"" + "#" + uploadFileInfoId + "\"";
}

<div class="form-group">
    <div style="position:relative;">
        <label>Картинка</label>
        <a class='btn' href='javascript:;'>
            Выбрать изображение...
            <input type="file" name=@ViewBag.ImageToLoad size="40"
                   style="position:absolute;z-index:2;top:0;
                    left:0;filter: alpha(opacity=0); opacity:0;
                    background-color:transparent;color:transparent;"
                   onchange='$(@uploadFileInfoSelector).html($(this).val());'>
        </a>
        <span class='label label-info' id=@uploadFileInfoId></span>
    </div>



    @if (ViewBag.ImageToLoad == "categoryImg")
    {
        <img class="img-thumbnail" width="80" height="80"
             src="@Url.Action("GetCategoryImageFromCategoryTable", "Admin",
                      new {categoryId = ViewBag.Id})" />
    }
    else if (ViewBag.ImageToLoad == "firmImg")
    {

    }
    else if (ViewBag.ImageToLoad == "productImg")
    {
        if (Model.Product.ImageData == null)
        {
            <div class="form-control-static">Нет картинки</div>
        }
        else
        {
            <img class="img-thumbnail" width="150" height="150"
                 src="@Url.Action("GetImage", "Home",
                          new { Model.Product.ProductID })" />
        }
    }




</div>